<container>
    <row class="hero">
        <col>   
            <div class = "hero-form">
            <h2>Start Your Assignment</h2><br>
            <form action="/api/posts" method="post" id="post-form">
            <label for="tilte">Prompt:</label>
            <input type="text" name="title" id="title"class="form-input"/>
            <label for="content_txt">Challenge:</label>
            <textarea type="text" name="content_txt" id="content_txt" cols="30" rows="10" class="form-input"></textarea>
            <label for="attached_type">Attachment:</label>
            <input type="file" id="attached_type" class="form-input"/>
            <button type="submit">Submit Assignment</button>
            </form>
            </div>
            
        </col>
        </col>
    </row>
</container>