<container>
    <row class="hero"> 
        <div class="hero-form">
        <h3>Login </h3>
        <form id="login-form">
        <label for="email">Your Email</label>
            <input type="email" id="email-login" class="form-input"/>
        <label for="passwprd">Password</label>
            <input type="text" id="password-login" class="form-input"/>
        <row>
            <col>
                <button type="submit">LogIn</button>
            </col>    
        </row>
        </form>
</container>
<script src ="/javascript/login.js"></script>