<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<container>
    <row class="hero">
        <col>
            <div class="hero-intro">
                <h2>Meet our Musicians</h2><br>
                <ul id="musicians">{{#each musicians}}
                    <li class="musiciansLI">
                        <ul>
                       <a href="#profile">{{this.username}}</a>
                       <div class = "profile" style = "display: none">        
                            <li><lable id="meet">Profile-Picture:-</lable><br>
                            <img src ="/uploads/{{this.image}}" id = "Profil-image" width="100" height="100"></li>
                            <li><label id="bio_intro">About me : {{this.bio}} </label></li>
                    </div>     
                    </ul>
                    </li>

                        
                    
                    {{/each}}

                </ul>
            </div>
        </col>
    </row>
</container>
<script>
    $("a").on("click",function(){
        $('.profile').toggle("slide");
    })


</script>